.TableLoader {
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9999;
}

.TableFilters {
    padding-left: 24px;
    padding-right: 24px
}
